<nav class="navbar navbar-dark bg-primary navbar-expand-lg " *ngIf="nav.visible">
  <a class="navbar-brand" routerLink="#">Cratse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="my-button-container d-flex justify-content-end">
      <button type="button" class="btn btn-primary " (click)="logOut()">LogOut</button>
    </div>
  </div>
</nav>