<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <div class="container center d-flex justify-content-center align-items-center">
    <img src="assets/logo.jpg" alt="Logo" style="width:300px; height:300px;">
    <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="px-4 py-3">
      <div class="form-group">
        <h6 for="exampleDropdownFormEmail1">Email address:</h6>
        <span style="display:block; padding-top: 5px;"></span>
        <p [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors}">
          <input formControlName="email" type="email" class="form-control" id="exampleDropdownFormEmail1"
            placeholder="email@example.com">
        </p>
        <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
          <div *ngIf="formControls['email'].errors['required']">
            <a color="red">Email is required</a>
          </div>
        </div>
      </div>

      <span style="display:block; padding-top: 15px;"></span>

      <div class="form-group">
        <h6 for="exampleDropdownFormPassword1">Password:</h6>
        <span style="display:block; padding-top: 5px;"></span>
        <p [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }">
          <input formControlName="password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </p>
        <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
          <div *ngIf="formControls['password'].errors['required']">
            <a color="red">Password is required</a>
          </div>
        </div>
      </div>
      <span style="display:block; padding-top: 10px;"></span>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</body>

</html>