<p>list-users works!</p>
<div style="position: absolute; right: 0; margin: 20px;">
    <button type="submit" class="btn btn-dark" (click)="addUser()">Add User</button>
  </div>
<div id='table-users'>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">Firstname</th>
                <th scope="col">LastName</th>
                <th scope="col">Role</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <th scope="row">{{ user.idUser }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName}}</td>
                <td>{{ user.role.labelRole }}</td>
                <td>
                    <a routerLink="/users/cra/{{user.idUser}}">
                        cra
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>