<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        Month
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>January</button>
        <button ngbDropdownItem>February</button>
        <button ngbDropdownItem>March</button>
        <button ngbDropdownItem>April</button>
        <button ngbDropdownItem>May</button>
        <button ngbDropdownItem>June</button>
        <button ngbDropdownItem>July</button>
        <button ngbDropdownItem>August</button>
        <button ngbDropdownItem>September</button>
        <button ngbDropdownItem>October</button>
        <button ngbDropdownItem>November</button>
        <button ngbDropdownItem>December</button>
      </div>
    </div>
  </div>